@import '../../scss/colors.scss';

.fixed-bottom {
    position: relative;
    
    &::before {
        display: block;
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        right: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 110px 100vw;
        border-color: transparent transparent $primary transparent ;
    }
}