<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>Sobre nós</h1>
            <h2>Um pouco da história deste site</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <h2>Impacto da tecnologia no mundo da terceira idade</h2>

                <p>
                    <strong class="uppercase">MISSÃO: </strong>
                    Fazer com a educação financeira e ensinando as pessoas a conquistarem autonomia financeira para a realização de seus sonhos.
                </p>

                <p>
                    <strong class="uppercase">VISÃO: </strong>
                    Ser referência em Educação Financeira no Brasil e no mundo por meio da Metodologia My Fynance.
                </p>
                <p>
                    <strong class="uppercase">VALORES: </strong>
                    Família, Diversidade, Sustentabilidade, Empreendedorismo, Autonomia e Cidadania.
                </p>
                <p>
                    <strong class="uppercase">OBJETIVO: </strong>
                    Fornecer produtos e serviços especializados de uma Educação Financeira.
                </p>
            </div>
        </div>
    </div>
</div>