<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>Sobre nós</h1>
            <h2>Um pouco da história deste site</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <h2>Impacto da tecnologia no mundo da terceira idade</h2>

                <p>
                    <strong class="uppercase">MISSÃO: </strong>Toda tecnologia bem aproveitada de conhecimento, faz com
                    que as
                    informações sejam produzidas com um diálogo limpo, para que a Ciência possa fazer
                    tarefas com seus instrumentos. Todo tarefa serve de alguma vontade, a do inventor
                    ou de seu padrão a ser seguido. De uma forma resumida a tecnologia da informação,
                    é o uso de técnicas utilizadas em software e computadores aplicadas a outros
                    processos, da qual estamos relacionados ao contexto convencional do windows 10 e
                    suas funcionalidades.
                </p>

                <p>
                    <strong class="uppercase">VISÃO: </strong>
                    Quando analisamos o comportamento das pessoas da terceira idade,
                    percebemos o quanto podemos compreender os seus reais motivos que levaram a
                    transformar seus comportamentos com as novas técnicas que teriam para utilizar ao
                    receber e levar informação por meios tecnológicos onde existe muita informação, e
                    pouco voltada ao um público ansioso por novidades como outros por conhecimento,
                    a onde apoiaremos com uma ótima estratégia de gestão de pessoas e serviços . Com
                    uma aplicação de um site voltado ao bem comum é a tecnologia da informação na
                    solução de problemas. A onde podem praticar e estimular o aprendizado e
                    aumentando o envolvimento as ferramentas do windows 10.
                </p>
                <p>
                    <strong class="uppercase">VALORES: </strong>
                    Em tempos de competitividade acirrada, excesso de informação e
                    digitalização de processo de dados, vendas e logística, a aplicação dessas
                    ferramentas em nível de conhecimento aplicado ao windows 10 é cada vez mais
                    comuns nas empresas. Como as facilidades tecnológicas surgindo e influenciando
                    nas ações comunicacionais, o uso de passar informação de tecnologia do que tem
                    nas empresas como estratégia de engajamento, tem tudo para aumentar cada vez
                    mais, fazendo com que as empresas invistam nesse mercado promissor da formação
                    tecnológica para terceira idade, Essa estratégia também é muito utilizada na saúde,
                    na política, no marketing e dentro das empresas. Neste projeto, trazemos elementos
                    como resolver de forma simples e eficaz, seu bem mais utilizados, o conhecimento
                    que pode ser a solução para diversos problemas.
                </p>
                <p>
                    <strong class="uppercase">OBJETIVO: </strong>
                    O principal objetivo dessa estratégia é estimular a participação de
                    quem está envolvido, pois ela instiga algumas características inerentes do ser
                    humano, como a compatibilidade e a cooperação, além de envolver a ideia de status
                    e senso de realização é que desenvolva conosco uma reflexão crítica dos impactos
                    da tecnologia para problemas do dia a dia .É uma atitude impositiva, é o contrário da
                    atitude básica da Ciência, que é contemplativa. Podemos assim entender que a forma
                    encontrada de passar informação também pode ser definida como: todo utilitário
                    usado pelo homem para ajudá-lo nas tarefas a serem empreendidas no seu ambiente
                    natural. Um exemplo bem simplificado para ilustrar o conceito de passar uma
                    informação dentro de uma empresa seria a forma como um time de vendas que está
                    tendo por meio processos envolvendo softwares e hardware para atingir as metas do
                    mês, Isto tem a ver com poder, por pequeno ou grande que seja.
                </p>
            </div>
        </div>
    </div>
</div>