<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>Sobre nós</h1>
            <h2>Um pouco da história deste site</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <h2>Gestão Financeira com apoio de novas tecnologias.</h2>

                <p>
                    <strong class="uppercase">MISSÃO: </strong>
                    Disseminar a educação financeira, fornecendo ferramentas de apoio e gestão financeira, auxiliando nossos clientes a conquistarem autonomia para realização dos seus sonhos.
                </p>

                <p>
                    <strong class="uppercase">VISÃO: </strong>
                    Ser referência em Educação Financeira no Brasil e no mundo por meio da Metodologia My Fynance.
                </p>
                <p>
                    <strong class="uppercase">VALORES: </strong>
                    Família, Diversidade, Sustentabilidade, Empreendedorismo, Autonomia e Cidadania.
                </p>
                <p>
                    <strong class="uppercase">OBJETIVO: </strong>
                    Fornecer produtos e serviços especializados de controle financeiro.
                </p>
            </div>
        </div>
    </div>
</div>