<div class="header">
    <div class="container">
        <div class="header-logo">
            <div class="header-element">
                <div class="header-item">
                    <a class="d-block" [routerLink]="'/'">
                        <i class="icon icon-main" aria-hidden="true"></i>
                        <div class="title">
                            <strong>My</strong> <span class="lighten">Finance</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-element">
                <nav class="navigation header-item">
                    <ul>
                        <li *ngIf="username">
                            <a class="nav-item" routerLink="/financas" routerLinkActive="active">
                                Minhas finanças
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/sobre" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Sobre nós
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/contato" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Contato
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="navigation header-item right">
                    <ul>
                        <ng-container *ngIf="!username; else logged">
                            <a class="nav-item" routerLink="/login">
                                Login
                            </a>
                        </ng-container>
                        <ng-template #logged>
                            <li class="nav-item" ngbDropdown>
                                <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2"
                                    role="button">
                                    {{ username }}
                                </a>
                                <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
                                    class="dropdown-menu dropdown-menu-right">
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Minhas finanças</a>
                                    <div class="dropdown-divider"></div>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Meus dados
                                        cadastrais</a>
                                    <a ngbDropdownItem href="#" (click)="logoff()">Logoff</a>
                                </div>
                            </li>
                        </ng-template>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>