<div class="header">
    <div class="container">
        <div class="header-logo">
            <div class="header-element">
                <div class="header-item">
                    <a class="d-block">
                        <i class="icon icon-main" aria-hidden="true"></i>
                        <div class="title">
                            <strong>My</strong> <span class="lighten">Finance</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-element">
                <nav class="navigation header-item">
                    <ul>
                        <li>
                            <a class="nav-item" routerLink="/sobre" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Sobre nós
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/contato" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Contato
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="navigation header-item right">
                    <ul>
                        <li>
                            
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>