<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>Erro 500</h1>
            <h2>Falha ao processar requisição</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <h2>Falha ao processar requisição</h2>

                <p>
                    Se você está vendo esta página, significa que o nosso serviço ou está fora do ar ou apresentou
                    alguma anormalidade, caso o erro se repita, tente novamente mais tarde, e caso queria, clique em
                    voltar para a tela inicial para continuar a sua navegação.
                </p>
                <button type="button" class="btn btn-primary" routerLink="/">Voltar para a tela inicial</button>
            </div>
        </div>
    </div>
</div>