<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="login" (submit)="enviar()">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" required autofocus
                    [formControlName]="'username'" [class.is-invalid]="invalid && login.get('username').invalid"
                    [class.is-valid]="invalid && login.get('username').valid">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" required [formControlName]="'password'"
                    [class.is-invalid]="invalid && login.get('password').invalid"
                    [class.is-valid]="invalid && login.get('password').valid">

            </div>
            <div class="d-block" *ngIf="invalidHttp">
                Usuário ou senha incorretos!
            </div>
            
            <div class="text-center"> 
                <button class="btn btn-lg btn-primary btn-signin d-inline-block" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>