<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>Erro 404</h1>
            <h2>Página não encontrada</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <h2>Página não encontrada</h2>

                <p>
                    Se você está vendo esta página, significa que você entrou em um link quebrado deste site, se digitou
                    errado, tente corrigir, caso contrário, clique abaixo para voltar para a tela inicial.
                </p>
                <button type="button" class="btn btn-primary" routerLink="/">Voltar para a tela inicial</button>
            </div>
        </div>
    </div>
</div>