<div class="d-block base-height">
    <div class="container h-100">
        <div class="d-flex align-items-center h-100">
            <div class="d-block">
                <div class="row">
                    <div class="col-5">
                        <div class="d-flex align-items-center h-100">
                            <div class="d-block">
                                <h1 class="custom-color">My Finance</h1>
                                <p>
                                    Aplicação com o objetivo de melhorar o controle financeiro.
                                </p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-7">
                        <img class="img image-center" src="/assets/img/home.png" alt="Home">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>