<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>My Finance</h1>
            <h2>Auxiliando você com a sua economia</h2>
        </div>
    </div>

    <div class="card-list">
        <div class="container">
            <div class="card primary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Controle suas finanças de modo eficiente</strong>
                            <div class="card-body">
                                Nossa ferramenta de controle financeiro foi projetada para ser utilizada facilmente por
                                qualquer pessoa. Basta se cadastrar e começar a utilizar.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card secondary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Gratuito</strong>
                            <div class="card-body">
                                Não cobramos nada pela utilização da plataforma, todas as funcionalidades são gratitas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card tertiary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Seguro</strong>
                            <div class="card-body">
                                Todo o acesso a nossa aplicação é individual e protegida por senha. Ninguém terá acesso
                                aos seus dados.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <span class="text-subtitle uppercase">Bem vindo ao My Finance</span>
                <h3 class="subtitle">Sobre a <strong>My Finance</strong></h3>
                <strong class="text-title">Problemas para encontrar um técnico, ou não confia no diagóstico dele, tente
                    procurar seu
                    problema aqui</strong>
                <div class="text">
                    <p>Use seu tempo para aprender, se posicione e aproveite esta oportunidade para crescer. </p>
                    <p>Faça seu controle de orçamento com a My Finance te garanto que você não vai se arrepender.
                        Esqueça o
                        desânimo, levante a cabeça e não se esqueça de sonhar.É fundamental que você tenha total domínio
                        de
                        seus números nesse momento.É preciso se precaver. É hora de fechar a torneira e reduzir ainda
                        mais
                        os gastos.
                    </p>
                    <p>É hora de fazer anotações e planejamento para
                        que você não se descontrole financeiramente.</p>
                    <p>Você sabia que, em média, 25% dos seus gastos está
                        comprometido com supérfluos? Um erro comum é pensar que orçamento financeiro familiar
                        consiste em registrar o que se ganha e subtrair o que se gasta.</p>
                    <p>Se sobrar dinheiro será lucro, se faltar será prejuízo.</p>
                </div>
                <button type="button" class="btn btn-primary" routerLink="/usuario/cadastro">Cadastre-se</button>
            </div>
        </div>
    </div>
</div>