@import '../../scss/colors.scss';

.main {
    position: relative;
    background-image: url('/assets/img/planejamento-financeiro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 40%;

    height: 80vh;
    width: 100%;

    &::before {
        display: block;
        content: '';
        
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::after {
        display: block;
        content: '';
        position: absolute;

        bottom: 0;
        left: 0;
        right: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 110px 100vw;
        border-color: transparent transparent $secondary transparent;
    }

    .main-body {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 300px;
        text-align: center;

        h1 {
            display: block;
            font-size: 80px;
            color: $secondary;
            font-weight: 300;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 1.5px;
            color: $secondary;
        }
    } 

    .card-list {
        $card: 260px;

        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        z-index: 1;
        max-height: $card;

        .card {
            display: inline-block;
            vertical-align: bottom;

            width: 33.33333%;
            height: $card;
            border-radius: 0;
            border: none;

            .card-title,
            .card-body {
                color: $secondary;
                padding: 0 20px;
            }

            .card-title {
                font-size: 20px;
                display: block;
                margin-bottom: 20px;
                letter-spacing: 0.3px;
            }

            .card-body {
                font-weight: 300;
                letter-spacing: 0.2px;
            }

            &.primary {
                background-color: #262626;
            }

            &.secondary {
                background-color: $color2;
            }

            &.tertiary {
                background-color: $color1;
            }
        }
    }
}

.secondary-content {
    min-height: 100vh;
    padding: 100px 0;

    .text-subtitle {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: $color2;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 3px;
    }

    .subtitle {
        display: block;
        font-size: 72px;
        font-weight: 400;
        color: #262626;
        line-height: 1.1;
        margin-bottom: 35px;
    }

    .text-title {
        display: block;
        font-size: 16px;
        color: #535353;
        line-height: 1.75;
        margin-bottom: 28px;
    }

    .text {
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        color: #535353;
        margin-bottom: 60px;
    }

    .text-title,
    .text {
        width: 60%;   
    }
}