<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>My Finance</h1>
            <h2>Auxiliando você com a sua economia</h2>
        </div>
    </div>

    <div class="card-list">
        <div class="container">
            <div class="card primary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Vários tutoriais para consertar a maioria dos problemas</strong>
                            <div class="card-body">
                                Solução para problemas de simples a mais complexos, ou até diagnósticos dos problemas
                                que seu computador apresenta sem precisar chamar um técnico.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card secondary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Feito para qualquer público</strong>
                            <div class="card-body">
                                Um dos focos desse site é a acessibilidade, então esse site está sempre se utilizando
                                das técnicas para melhor atender todas as pessoas, pois todas são especiais para nós.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card tertiary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">E continua a crescer</strong>
                            <div class="card-body">
                                Estão sendo acrestados novos tutoriais e soluções para o problemas que já existem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <span class="text-subtitle uppercase">Bem vindo ao My Finance</span>
                <h3 class="subtitle">Sobre a <strong>My Finance</strong></h3>
                <strong class="text-title">Problemas para encontrar um técnico, ou não confia no diagóstico dele, tente
                    procurar seu
                    problema aqui</strong>
                <div class="text">
                    É bastante triste que muitos técnicos tentam enganar seus cliente a fim de cobrar por serviços a
                    mais que não são necessários, se tem dúvidas quanto a isso, procure aqui a solução do seu problema,
                    talvez arrumar seja mais simples do que parece e pode ser feito por você mesmo.
                </div>
                <button type="button" class="btn btn-primary" routerLink="/usuario">Cadastre-se</button>
            </div>
        </div>
    </div>
</div>