<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova finança</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="modal-body">
    OK
</div>

<div class="modal-footer justify-content-center">
<div class="btn-footer">
    <button type="button" class="btn btn-outline-secondary">Cancelar</button>
    <button type="button" class="btn btn-outline-primary">Salvar</button>
</div>
</div>