/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

@import './app/scss/font-family.scss';
@import './app/scss/reset.scss';
@import './app/scss/colors.scss';

@import './app/scss/responsive-classes.scss';
@import './app/scss/icons.scss';
@import './app/scss/buttons';

body {
    overflow-x: hidden;
}

textarea.form-control {
    height: auto;
}

/*Edge*/
@supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

