/* You can add global styles to this file, and also import other style files */
@import './app/scss/font-family.scss';
@import './app/scss/reset.scss';
@import './app/scss/colors.scss';

@import './app/scss/responsive-classes.scss';
@import './app/scss/icons.scss';
@import './app/scss/buttons';

body {
    overflow-x: hidden;
}

.form-group {
    margin-bottom: 16px;

    label {
        display: inline-block;
        margin-bottom: 8px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    max-width: calc(100% - 24px); // Para não ultrapassar o 100%

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff9910;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color: #ff9910, $alpha: 0.25);
    }
}

textarea.form-control {
    height: auto;
}

/*Edge*/
@supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}